<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ebksoft.flightbooking">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Dangerous Permission-->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:name=".utils.AppApplication"
        android:allowBackup="false"
        android:fullBackupContent="@xml/appbackupscheme"
        android:fullBackupOnly="true"
        android:backupAgent=".utils.BackupAgentUtils"
        android:icon="@mipmap/ic_app"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- Using this for backup to cloud under 6.0-->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIeN6y1u3zJC7oBqR6PEA-4AUSNCuAvJjujf_1Dg" />


        <!-- Facebook -->

        <!--<activity-->
        <!--android:name="com.facebook.FacebookActivity"-->
        <!--android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"-->
        <!--android:label="@string/app_name"-->
        <!--android:theme="@android:style/Theme.Translucent.NoTitleBar" />-->

        <!--<meta-data-->
        <!--android:name="com.facebook.sdk.ApplicationId"-->
        <!--android:value="@string/facebook_app_id" />-->

        <!--<provider-->
        <!--android:name="com.facebook.FacebookContentProvider"-->
        <!--android:authorities="com.facebook.app.FacebookContentProvider480629078811764"-->
        <!--android:exported="true" />-->

        <!--End FB-->

        <!-- Network receiver -->
        <receiver android:name="com.ebksoft.flightbooking.receiver.NetworkReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.ebksoft.flightbooking.SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.ebksoft.flightbooking.HomeActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.ChooseAirportActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.SearchFightResultActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.ChooseTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.CustommerInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateAlwaysHidden" />

        <activity
            android:name="com.ebksoft.flightbooking.ConfirmTicketInfo"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.HotlineBookingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.GetPromotionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />


        <!--Test for Call Activity from Notification with back to HomeActivity-->

        <!--<activity-->
        <!--android:name="com.ebksoft.flightbooking.GetPromotionActivity"-->
        <!--android:parentActivityName="com.ebksoft.flightbooking.HomeActivity"-->
        <!--android:screenOrientation="portrait"-->
        <!--android:theme="@style/AppTheme.NoActionBar">-->

        <!--<meta-data-->
        <!--android:name="android.support.PARENT_ACTIVITY"-->
        <!--android:value="com.ebksoft.flightbooking.HomeActivity" />-->

        <!--</activity>-->

        <activity
            android:name="com.ebksoft.flightbooking.ManageBookingTicket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.ListNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.DetailNewsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.ebksoft.flightbooking.AboutUsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
